<form {{action 'createBook' on="submit"}}>
  {{input type="text" value=bookname placeholder="Book Name"}}
  {{input type="text" value=author placeholder="Author"}}
  {{input type="text" value=description placeholder="Description"}}
  {{input type="text" value=reviews placeholder="Reviews"}}
  <button type="submit">Add Book</button>
</form>