<form {{action 'signUp' on="submit"}}>
  {{input type="text" value=firstname placeholder="First Name"}}
  {{input type="text" value=lastname placeholder="Last Name"}}
  {{input type="text" value=email placeholder="Email"}}
  {{input type="text" value=contact placeholder="Contact"}}
  {{input type="password" value=password placeholder="Password"}}
  {{input type="password" value=password_confirm placeholder="Confirm Password"}}
  <button type="submit">Sign up</button>
</form>